.border{
	border-left:grey solid 5px;
}
.errors{
	
	height: 20px;
}
.answers{
	
}
.info{
	border:grey solid 2px;
	background: grey;
}
.background{
	background-image: url(http://cdn.pcwallart.com/images/game-of-thrones-house-logo-wallpaper-1.jpg);
	color:#B3B6B7;
}
.text-color{

}
.height-change{
	height:30px;
}